<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMe</title>
</head>
<body>
    <h2>The total number of user is  <%=count%></h2>
    <button>joi us!</button>
    <form method="get" action="/user">
        <button >SEE all the users</button>
    </form>
    
</body>
</html>